.page-title {
  position: absolute;
  left: 0;
  top: -5000px;
}

.logo {
  fill: #fff;
  display: block;
  margin: 0 0 1rem;
}

.feature {
  margin-bottom: 1rem;
  line-height: 1.2;
  
  & > header {
    background: #fff;
    overflow: hidden;
    padding: 0 1rem;
    & p {
      margin: 0.7rem 0;
    }
  }

  & .feature-name {
    background: #2A609B;
    line-height: 1;
    padding: 0.4rem 1rem;
    font-weight: normal;
    font-size: 1rem;
    color: #fff;
    margin: 0 -1rem;
  }

}

.results {
  @include display-flex;
  background: #fff;
  
  & .result {
    @include flex(1);
  }
}

.result {
  margin: 0 0.4rem 0.4rem;
  margin-left: 0;
  overflow: hidden;
  position: relative;
  //border-bottom: solid 1rem #ccc;
  
  &:first-child {
    margin-left: 0.4rem;
  }

  &::after {
    display: block;
    content: '';
    padding-top: 100%;
  }
  
  &.yes {
    background: #376D37;
  }

  &.ish {
    background: #D5BB00;
  }

  &.no {
    background: #CCC;
    & .icon {
      opacity: 0.3;
      -webkit-filter: grayscale(100%);
    }
  }

  & .support {
    margin: 0;
    text-indent: -5000px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  & .version {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    line-height: 1;
    color: #000;
    text-indent: 0;
    padding: 0.1rem 0.2rem;
    font-size: 0.8rem;
  }

  & .icon {
    text-indent: -5000px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.icon {
  margin: 0;
  background-size: 78%;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-filter: drop-shadow(0 0 3px rgba(0,0,0,0.6));
  
  @each $browser in chrome, opera, firefox, safari, ie, canary, firefox-nightly {
    &.#{$browser} {
      background-image: url(imgs/#{$browser}.png);
    }
  }
}

.details {
  margin: 0;
  padding: 0;
  border-top: solid 1px #CFCFCF;
  font-size: 0.9rem;
  
  & > li {
    display: block;
    background: #E4E4E4;
    margin: 0;
    padding: 0.4rem 1rem;
    
    &:nth-child(even) {
      background: #F1F1F1;
    }
  }
}