.page-title {
  position: absolute;
  left: 0;
  top: -5000px;
}

.logo {
  fill: #FFF;
  display: block;
  margin: 0 auto 1rem;
  position: relative;
  padding-top: 18.98%;
  
  @media (min-width: 500px) {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  
  @media (min-width: 800px) {
    margin-top: 4.5rem;
    margin-bottom: 4.9rem;
  }

  @media (min-width: 720px) {
    padding-top: 125px;
  }

  & svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
}

.feature {
  margin: 0 auto;
  margin-bottom: 1rem;
  line-height: 1.2;
  max-width: 510px;
  
  @media (min-width: 800px) {
    @include display-flex;
    @include flex-flow(wrap);
    @include justify-content(flex-end);
    max-width: 947px;
  }
  
  & > header {
    background: #fff;
    overflow: hidden;
    padding: 0 1rem;
    
    @media (min-width: 800px) {
      width: 35%;
      box-sizing: border-box;
    }

    & p {
      margin: 0.7rem 0;
    }
  }

  & .feature-name {
    background: #2A609B;
    line-height: 1;
    padding: 0.4rem 1rem;
    font-weight: normal;
    font-size: 1rem;
    color: #fff;
    margin: 0 -1rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}

.results {
  @include display-flex;
  background: #fff;
  min-width: 1px;
  
  @media (min-width: 800px) {
    @include flex(1);
  }
  
  & .result {
    @include flex(1);
  }
}

.result {
  margin: 0 0.4rem 0.4rem;
  margin-left: 0;
  overflow: hidden;
  position: relative;
  
  @media (min-width: 800px) {
    margin-top: 0.4rem;
  }
  
  &:first-child {
    margin-left: 0.4rem;
  }

  &::after {
    display: block;
    content: '';
    padding-top: 100%;
  }
  
  &.yes {
    background: #376D37;
  }

  &.ish {
    background: #D5BB00;
  }

  &.no {
    background: #CCC;
    & .icon {
      opacity: 0.2;
      @supports (-webkit-filter: grayscale(100%)) {
        opacity: 0.4;
        -webkit-filter: grayscale(100%);
      }
    }
  }

  & .support {
    margin: 0;
    text-indent: -5000px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  & .version {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    line-height: 1;
    color: #000;
    text-indent: 0;
    padding: 0.1rem 0.2rem;
    font-size: 0.8rem;
    
    &::after {
      content: '+';
    }
    
    @media (min-width: 578px) {
      border-radius: 600px;
      bottom: 10%;
      right: 10%;
      padding: 0;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
      @include display-flex;
      @include justify-content(center);
      @include align-items(center);

      width: 33%;
      height: 33%;
    }
  }

  & .icon {
    text-indent: -5000px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.icon {
  margin: 0;
  background-size: 78%;
  background-repeat: no-repeat;
  background-position: center center;
  
  @each $icon in chrome, opera, firefox, safari, ie, canary, firefox-nightly, webkit-nightly {
    &.#{$icon} {
      background-image: url(imgs/#{$icon}.png);
    }
  }
}

.details {
  margin: 0;
  padding: 0;
  border-top: solid 1px #CFCFCF;
  font-size: 0.9rem;
  
  @media (min-width: 800px) {
    width: 65%;
    box-sizing: border-box;
  }
  
  & > li {
    display: block;
    background: #E4E4E4;
    margin: 0;
    padding: 0.4rem 1rem;
    
    &:nth-child(even) {
      background: #F1F1F1;
    }
  }
}