<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <script>
      (function(i,r){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();
      })(window,'ga');

      ga('create', 'UA-51302312-1', 'jakearchibald.github.io');
      ga('send', 'pageview');
    </script>
    <script src="//www.google-analytics.com/analytics.js" async></script>
    <script src="/isserviceworkerready/static/js/all.js" async></script>
    <link rel="stylesheet" href="/isserviceworkerready/static/css/all.css">
    <link href="//fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet" type="text/css">
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>