.page-title {
  position: absolute;
  left: 0;
  top: -5000px;
}

.hero {
  height: calc(100vh - 2em - 60px);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 1em;
  padding-top: 1rem;
  @media (min-width: 500px) {
    padding-top: 3rem;
    height: calc(100vh - 3em - 2em);
  }

  @media (min-width: 800px) {
    padding-top: 4.5rem;
    height: calc(100vh - 4.5em - 2em);
  }

  @media (min-width: 720px) {
    padding-top: 125px;
    height: calc(100vh - 125px - 2em);
  }
}

.logo {
  max-width: 947px;
  fill: #FFF;
  display: block;
  margin: 0 auto 0;
  position: relative;
  padding-top: 18.98%;

  & svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
}

.answer {
  font-family: "Press Start 2P";
  text-align: center;
  color: #fff;
  margin: 0 auto;
  display: block;
  font-size: 5em;
  text-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.external-links {
  font-family: "Press Start 2P";
  margin: 0.8rem 0 1.1rem;
  padding: 0;
  text-align: center;
  color: #fff;

  @media (min-width: 500px) {
    margin: 0.8rem 0 3.2rem;
  }

  @media (min-width: 800px) {
    margin: 0.8rem 0 4.4rem;
  }

  & > li {
    margin: 0 10px;
    display: inline-block;

    @media (min-width: 360px) {
      margin: 0;

      &::after {
        content: '*';
        margin: 0 1rem;
      }

      &:last-child::after {
        content: none;
      }
    }
  }

  & a:link,
  & a:visited {
    color: #71B5FF;
  }
  & a:hover,
  & a:active {
    text-decoration: underline;
  }
}

.details-link {
  display: block;
  width: 100%;
  color: #fff;
  text-align: center;
  svg {
    height: 10vh;
    width: 10vh;
  }
}

%box-heading {
  background: #2A609B;
  line-height: 1;
  padding: 0.4rem 1rem;
  font-weight: normal;
  font-size: 1rem;
  color: #fff;
  margin: 0 -1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.feature {
  margin: 0 auto;
  margin-bottom: 1rem;
  line-height: 1.2;
  max-width: 510px;

  @media (min-width: 800px) {
    @include display-flex;
    @include flex-flow(wrap);
    @include justify-content(flex-end);
    max-width: 947px;
  }

  &:target > header {
    background: #FFECA9;
  }

  & > header {
    background: #fff;
    overflow: hidden;
    padding: 0 1rem;

    @media (min-width: 800px) {
      width: 35%;
      box-sizing: border-box;
    }

    & p {
      margin: 0.7rem 0;
    }
  }

  & .feature-name {
    @extend %box-heading;
    position: relative;
  }

  & .perma {
    &:link,
    &:visited {
      color: #fff;
    }
    &:hover,
    &:active {
      text-decoration: none;
      & .feature-name::after {
        content: '¶';
        position: absolute;
        top: 0.3rem;
        right: 0.3rem;
        color: rgba(255, 255, 255, 0.53);
      }
    }
  }
}

.feature > header.no-background {
  background: none;
}

.results {
  @include display-flex;
  background: #fff;

  :target & {
    background: #FFECA9;
  }

  @media (min-width: 800px) {
    width: 65%;
  }

  & .result {
    @include flex(1);
  }
}

.result {
  margin: 0 0.4rem 0.4rem;
  margin-left: 0;
  overflow: hidden;
  position: relative;

  @media (min-width: 800px) {
    margin-top: 0.4rem;
  }

  &:first-child {
    margin-left: 0.4rem;
  }

  &::after {
    display: block;
    content: '';
    padding-top: 100%;
  }

  &.yes {
    background: #376D37;
  }

  &.ish {
    background: #D5BB00;
  }

  &.no {
    background: #CCC;
    & .icon {
      opacity: 0.2;
      -webkit-filter: grayscale(100%);

      @supports (-webkit-filter: grayscale(100%)) {
        opacity: 0.4;
      }
    }
  }

  & .support {
    margin: 0;
    text-indent: -5000px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  & .version {
    position: absolute;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    line-height: 1;
    color: #000;
    text-indent: 0;
    padding: 0.1rem 0.2rem;
    font-size: 0.8rem;

    &::after {
      content: '+';
    }

    @media (min-width: 578px) {
      border-radius: 4px;
      bottom: 5%;
      right: 5%;
      padding: 0;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
      @include display-flex;
      @include justify-content(center);
      @include align-items(center);

      width: 50%;
      height: 30%;
    }
  }

  & .icon {
    text-indent: -5000px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.icon {
  margin: 0;
  background-size: 78%;
  background-repeat: no-repeat;
  background-position: center center;

  @each $icon in chrome, chrome-canary, firefox, firefox-nightly, edge, opera, opera-developer, samsung-internet, safari, webkit {
    &.#{$icon} {
      background-image: url(../img/#{$icon}.png);
    }
  }
}

.details {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;

  @media (min-width: 800px) {
    width: 65%;
    box-sizing: border-box;
  }

  & > li {
    display: block;
    background: #E4E4E4;
    margin: 0;
    padding: 0.4rem 1rem;

    &:nth-child(even) {
      background: #F1F1F1;
    }

    &:first-child {
        border-top: solid 1px #CFCFCF;
    }

  }
}

.outro {
  font-family: "Press Start 2P";
  margin: 2.2rem 0;
  text-align: center;
  color: #fff;
}
