html {
  font-family: sans-serif;
  font-size: 15px;
  line-height: 1.4;
  min-height: 100%;
  background: #102a48;
  background: #102a48 radial-gradient(circle closest-corner at 50% 63px, #166ab9, #013668, #102a48) no-repeat;
  overflow-y: scroll;

  -webkit-text-size-adjust: 100%;

  @media (min-width: 500px) {
    background: #102a48 radial-gradient(circle closest-corner at 50% 126px, #166ab9, #013668, #102a48) no-repeat;
    font-size: 17px;
  }

  @media (min-width: 720px) {
    background: #102a48 radial-gradient(circle closest-corner at 50% 256px, #166ab9, #013668, #102a48) no-repeat;
  }
}

body {
  margin: 1rem;
  @media (min-width: 500px) {
    margin: 1.8rem;
  }
}

a {
  &:link,
  &:visited {
    color: #1F6DC2;
    text-decoration: none;
  }
  &:hover,
  &:active {
    color: #007AFF;
    text-decoration: underline;
  }
}
