{% extends 'base.html' %}

{% block title %}Service Worker Resources{% endblock %}

{% block body %}
  {% include 'masthead.html' %}

  <article class="feature" id="articles">
    <header class="no-background">
      <a href="#articles" class="perma">
        <h1 class="feature-name">Articles</h1>
      </a>
    </header>
    <ul class="details">
      <li><a href="https://developers.google.com/web/fundamentals/getting-started/primers/service-workers">Introduction to Service Worker</a></li>
      <li><a href="http://jakearchibald.com/2014/using-serviceworker-today/">Using Service Workers Today</a></li>
      <li><a href="https://developers.google.com/web/fundamentals/getting-started/primers/promises">JavaScript Promises: an Introduction</a></li>
      <li><a href="http://jakearchibald.com/2014/offline-cookbook/">The offline cookbook</a></li>
      <li><a href="https://developer.mozilla.org/en-US/docs/Web/API/Service_Worker_API/Using_Service_Workers">Using Service Workers (<abbr title="Mozilla Developer Network">MDN</abbr>)</a></li>
    </ul>
  </article>

  <article class="feature" id="recipes">
    <header class="no-background">
      <a href="#recipes" class="perma">
        <h1 class="feature-name">Sample Code & Recipes</h1>
      </a>
    </header>
    <ul class="details">
      <li><a href="https://github.com/GoogleChrome/samples/tree/gh-pages/service-worker/prefetch">Prefetching Resources During Registration</a></li>
      <li><a href="https://github.com/GoogleChrome/samples/tree/gh-pages/service-worker/selective-caching">Selective Read-through Caching</a></li>
      <li><a href="https://github.com/GoogleChrome/samples/tree/gh-pages/service-worker/mock-responses">Returning Mock Responses</a></li>
      <li><a href="https://github.com/GoogleChrome/samples/tree/gh-pages/service-worker/fallback-response">Returning Fallback Responses</a></li>
      <li><a href="https://github.com/GoogleChrome/samples/tree/gh-pages/service-worker">...and more!</a></li>
    </ul>
  </article>

  <article class="feature" id="reference-apps">
    <header class="no-background">
      <a href="#reference-apps" class="perma">
        <h1 class="feature-name">Reference Apps</h1>
      </a>
    </header>
    <ul class="details">
      <li><a href="https://github.com/jakearchibald/trained-to-thrill">Trained to Thrill</a></li>
      <li><a href="https://developer.chrome.com/devsummit/">Chrome Dev Summit</a></li>
      <li><a href="https://jakearchibald.github.io/svgomg/">SVGOMG</a></li>
      <li><a href="https://events.google.com/io2015/">Google I/O 2015</a></li>
      <li><a href="https://github.com/GoogleChrome/airhorn">Air Horn</a></li>
    </ul>
  </article>

  <article class="feature" id="documentation">
    <header class="no-background">
      <a href="#documentation" class="perma">
        <h1 class="feature-name">Documentation</h1>
      </a>
    </header>
    <ul class="details">
      <li><a href="https://developer.mozilla.org/en-US/docs/Web/API/ServiceWorker_API">The Service Worker API (draft)</a></li>
      <li><a href="https://slightlyoff.github.io/ServiceWorker/spec/service_worker/index.html">Service Worker Specification (draft)</a></li>
      <li><a href="https://fetch.spec.whatwg.org/">Fetch API Specification (living standard)</a></li>
      <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise">Promises</a></li>
    </ul>
  </article>

<article class="feature" id="libraries">
  <header class="no-background">
    <a href="#libraries" class="perma">
      <h1 class="feature-name">Libraries</h1>
    </a>
  </header>
  <ul class="details">
    <li><a href="https://elements.polymer-project.org/elements/platinum-sw?active=platinum-sw-register">&lt;platinum-sw>, a set of Polymer elements</a></li>
    <li><a href="https://github.com/TalAter/UpUp">UpUp, provides an offline fallback page</a></li>
    <li><a href="https://github.com/bfgeek/swes6">Service Worker ES6, an on-the-fly ES6 transcompiler</a></li>
    <li><a href="https://github.com/gaia-components/serviceworkerware">ServiceWorkerWare, an Express-like layer on top of service workers</a></li>
    <li><a href="https://github.com/GoogleChrome/sw-precache">sw-precache, a module for gulp/Grunt builds</a></li>
    <li><a href="https://github.com/GoogleChrome/sw-toolbox">sw-toolbox, a runtime caching library</a></li>
    <li><a href="https://github.com/NekR/offline-plugin">offline-plugin, a plugin for webpack bundler</a></li>
  </ul>
</article>

  <p class="outro">ServiceWorker is here. Get busy with it.</p>
{% endblock %}
